body{
  font-family: 'Allerta', sans-serif;
}

/*selectores de clase*/
.titulo{
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
}

.title-a {
  font-size: 24px;
}

.title-b {
  font-size: 50px;
}

/*selector de id*/


.guitarras {
  color: #1f313c;
}
.guitarras h2{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.portada {
  background-image: url('../images/background.png')
}
.menu{
  font-size: 24px;
  display: inline-block;
}
.menu li{
  display: inline-block;
}
.logotipo{
  display: inline-block;
}